<div class="user-listings">
 <div class="user-listings-channel">
  <ul>
   <li><%= link_to("アカウント","/users/account") %></li>
   <li><%= link_to("プロフィール","/users/profile")%></li>
  </ul>
 </div>
</div>
 